# Multiple Regression Exercise

In this exercise, you will be building a model to predict sales prices of used cars.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [3]:
cars = pd.read_csv('../data/Used_Cars/Car_Sales.csv')

First, let's take a look at the dataset.

In [18]:
cars.head()

,Brand,Price,Body,Mileage,EngineV,Engine Type,Registration,Year,Model
0,BMW,4200.0,sedan,277,2.0,Petrol,yes,1991,320
1,Mercedes-Benz,7900.0,van,427,2.9,Diesel,yes,1999,Sprinter 212
2,Mercedes-Benz,13300.0,sedan,358,5.0,Gas,yes,2003,S 500
3,Audi,23000.0,crossover,240,4.2,Petrol,yes,2007,Q7
4,Toyota,18300.0,crossover,120,2.0,Petrol,yes,2011,Rav 4

In [19]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4345 entries, 0 to 4344
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         4345 non-null   object
 1   Price         4173 non-null   float64
 2   Body          4345 non-null   object
 3   Mileage       4345 non-null   int64
 4   EngineV       4195 non-null   float64
 5   Engine Type   4345 non-null   object
 6   Registration  4345 non-null   object
 7   Year          4345 non-null   int64
 8   Model         4345 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 305.6+ KB

Your target variable is the **Price** of the car.

Before you do anything else, check for missing values. Which columns have missing values? How many missing values?

For simplicity, you can just drop any rows that have any missing values. If you have time, you can come back to this step and look into **imputing** any missing values.

In [20]:
#Your Code Here

Which of the possible predictor variables are numeric? Which are categorical?

How many different levels are there for the categorical variables? Does it make sense to modify or drop any of the categorical variables?

In [22]:
# Your Code Here

Now, try and build the best predictive model that you can. Your goal is to predict the Price. Find the best model that you can in terms of the mean absolute error in your predictions.

In [27]:
# Your Code Here