# Creating Calculated Columns in `pandas`

In this notebook, you'll see a few ways to create calculated columns in pandas.

In [1]:
import pandas as pd
import numpy as np

In [38]:
weather = pd.read_csv('data/weather.csv')

In [39]:
weather.head()

         Date  High_Temp  Low_Temp  Avg_Temp Precipitation
0  2020-08-01         82        70      76.0          0.33
1  2020-08-02         86        66      76.0             0
2  2020-08-03         89        67      78.0             0
3  2020-08-04         84        70      77.0             0
4  2020-08-05         87        67      77.0             0

## Method 1: Vectorized Operations

A vectorized operation is when you do a calculation on a whole column or columns at once. This is the preferred method as it is almost always the fastest, and it should be used whenever possible.

Example: Let's say we want to convert our high temperature, which is currently in degrees fahrenheit to degrees celsius. Recall that to convert from fahrenheit to celsius, subtract 32 and then multiple by 5/9.

In [40]:
weather['High_Temp_Celsius'] = (weather['High_Temp'] - 32) * 5/9

In [41]:
weather.head()

         Date  High_Temp  Low_Temp  Avg_Temp Precipitation  High_Temp_Celsius
0  2020-08-01         82        70      76.0          0.33          27.777778
1  2020-08-02         86        66      76.0             0          30.000000
2  2020-08-03         89        67      78.0             0          31.666667
3  2020-08-04         84        70      77.0             0          28.888889
4  2020-08-05         87        67      77.0             0          30.555556

You can also create new columns by combining two or more other columns. Let's say we want to calcuate the range of temperature values.

In [42]:
weather['Temp_Range'] = weather['High_Temp'] - weather['Low_Temp']

You can even use a lot of numpy functions, which are vectorized.

In [43]:
weather['Sqrt_Temp'] = np.sqrt(weather['High_Temp'])

In [44]:
weather.head()

,Date,High_Temp,Low_Temp,Avg_Temp,Precipitation,High_Temp_Celsius,Temp_Range,Sqrt_Temp
0,2020-08-01,82,70,76.0,0.33,27.777778,12,9.055385
1,2020-08-02,86,66,76.0,0,30.000000,20,9.273618
2,2020-08-03,89,67,78.0,0,31.666667,22,9.433981
3,2020-08-04,84,70,77.0,0,28.888889,14,9.165151
4,2020-08-05,87,67,77.0,0,30.555556,20,9.327379

## Using `np.where` for single conditions

In [45]:
weather['Above_80'] = np.where(
    weather['Avg_Temp'] > 80, 1, 0
)

In [50]:
weather

,Date,High_Temp,Low_Temp,Avg_Temp,Precipitation,High_Temp_Celsius,Temp_Range,Sqrt_Temp,Above_80
0,2020-08-01,82,70,76.0,0.33,27.777778,12,9.055385,0
1,2020-08-02,86,66,76.0,0,30.000000,20,9.273618,0
2,2020-08-03,89,67,78.0,0,31.666667,22,9.433981,0
3,2020-08-04,84,70,77.0,0,28.888889,14,9.165151,0
4,2020-08-05,87,67,77.0,0,30.555556,20,9.327379,0
5,2020-08-06,89,68,78.5,0,31.666667,21,9.433981,0
6,2020-08-07,90,68,79.0,0,32.222222,22,9.486833,0
7,2020-08-08,94,67,80.5,0,34.444444,27,9.695360,1
8,2020-08-09,95,71,83.0,0.04,35.000000,24,9.746794,1
9,2020-08-10,97,74,85.5,0,36.111111,23,9.848858,1
10,2020-08-11,92,72,82.0,0,33.333333,20,9.591663,1
11,2020-08-12,90,75,82.5,0.09,32.222222,15,9.486833,1
12,2020-08-13,94,72,83.0,0.51,34.444444,22,9.695360,1
13,2020-08-14,88,74,81.0,0.03,31.111111,14,9.380832,1
14,2020-08-15,90,72,81.0,0,32.222222,18,9.486833,1
15,2020-08-16,91,70,80.5,T,32.777778,21,9.539392,1
16,2020-08-17,91,66,78.5,0,32.777778,25,9.539392,0
17,2020-08-18,91,68,79.5,0,32.777778,23,9.539392,0
18,2020-08-19,85,68,76.5,0,29.444444,17,9.219544,0
19,2020-08-20,89,68,78.5,0,31.666667,21,9.433981,0
20,2020-08-21,79,68,73.5,1.54,26.111111,11,8.888194,0
21,2020-08-22,85,69,77.0,0.25,29.444444,16,9.219544,0
22,2020-08-23,88,67,77.5,0.03,31.111111,21,9.380832,0
23,2020-08-24,92,69,80.5,0.41,33.333333,23,9.591663,1
24,2020-08-25,93,73,83.0,0,33.888889,20,9.643651,1
25,2020-08-26,89,73,81.0,0,31.666667,16,9.433981,1
26,2020-08-27,90,73,81.5,0.65,32.222222,17,9.486833,1
27,2020-08-28,84,73,78.5,0.71,28.888889,11,9.165151,0
28,2020-08-29,92,74,83.0,0.01,33.333333,18,9.591663,1
29,2020-08-30,88,73,80.5,0.86,31.111111,15,9.380832,1
30,2020-08-31,86,72,79.0,0.41,30.000000,14,9.273618,0

## Using `np.select` for multiple conditions

In [51]:
conditions = [
    weather['High_Temp'] > 90,
    weather['Low_Temp'] < 70
]

choices = [
    'Crazy Hot', 'Crazy Cold'
]

weather['Extreme_Temp'] = np.select(conditions, choices, default='A Good Day')

In [52]:
weather

,Date,High_Temp,Low_Temp,Avg_Temp,Precipitation,High_Temp_Celsius,Temp_Range,Sqrt_Temp,Above_80,Extreme_Temp
0,2020-08-01,82,70,76.0,0.33,27.777778,12,9.055385,0,A Good Day
1,2020-08-02,86,66,76.0,0,30.000000,20,9.273618,0,Crazy Cold
2,2020-08-03,89,67,78.0,0,31.666667,22,9.433981,0,Crazy Cold
3,2020-08-04,84,70,77.0,0,28.888889,14,9.165151,0,A Good Day
4,2020-08-05,87,67,77.0,0,30.555556,20,9.327379,0,Crazy Cold
5,2020-08-06,89,68,78.5,0,31.666667,21,9.433981,0,Crazy Cold
6,2020-08-07,90,68,79.0,0,32.222222,22,9.486833,0,Crazy Cold
7,2020-08-08,94,67,80.5,0,34.444444,27,9.695360,1,Crazy Hot
8,2020-08-09,95,71,83.0,0.04,35.000000,24,9.746794,1,Crazy Hot
9,2020-08-10,97,74,85.5,0,36.111111,23,9.848858,1,Crazy Hot
10,2020-08-11,92,72,82.0,0,33.333333,20,9.591663,1,Crazy Hot
11,2020-08-12,90,75,82.5,0.09,32.222222,15,9.486833,1,A Good Day
12,2020-08-13,94,72,83.0,0.51,34.444444,22,9.695360,1,Crazy Hot
13,2020-08-14,88,74,81.0,0.03,31.111111,14,9.380832,1,A Good Day
14,2020-08-15,90,72,81.0,0,32.222222,18,9.486833,1,A Good Day
15,2020-08-16,91,70,80.5,T,32.777778,21,9.539392,1,Crazy Hot
16,2020-08-17,91,66,78.5,0,32.777778,25,9.539392,0,Crazy Hot
17,2020-08-18,91,68,79.5,0,32.777778,23,9.539392,0,Crazy Hot
18,2020-08-19,85,68,76.5,0,29.444444,17,9.219544,0,Crazy Cold
19,2020-08-20,89,68,78.5,0,31.666667,21,9.433981,0,Crazy Cold
20,2020-08-21,79,68,73.5,1.54,26.111111,11,8.888194,0,Crazy Cold
21,2020-08-22,85,69,77.0,0.25,29.444444,16,9.219544,0,Crazy Cold
22,2020-08-23,88,67,77.5,0.03,31.111111,21,9.380832,0,Crazy Cold
23,2020-08-24,92,69,80.5,0.41,33.333333,23,9.591663,1,Crazy Hot
24,2020-08-25,93,73,83.0,0,33.888889,20,9.643651,1,Crazy Hot
25,2020-08-26,89,73,81.0,0,31.666667,16,9.433981,1,A Good Day
26,2020-08-27,90,73,81.5,0.65,32.222222,17,9.486833,1,A Good Day
27,2020-08-28,84,73,78.5,0.71,28.888889,11,9.165151,0,A Good Day
28,2020-08-29,92,74,83.0,0.01,33.333333,18,9.591663,1,Crazy Hot
29,2020-08-30,88,73,80.5,0.86,31.111111,15,9.380832,1,A Good Day
30,2020-08-31,86,72,79.0,0.41,30.000000,14,9.273618,0,A Good Day

## Method 2: `.apply`

You can use functions with `.apply`. Generally, `.apply` will be slower than using a vectorized solution.

In [9]:
weather['Sqrt_Temp'] = weather['High_Temp'].apply(np.sqrt)

You can also write your own functions and use them with `.apply`.

In [10]:
def convert_fahrenheit_to_celsius(temp):
    return (temp - 32) * 5/9

In [11]:
weather['Low_Temp_Celsius'] = weather['Low_Temp'].apply(convert_fahrenheit_to_celsius)

In [12]:
weather.head()

,Date,High_Temp,Low_Temp,Avg_Temp,Precipitation,High_Temp_Celsius,Temp_Range,Sqrt_Temp,Low_Temp_Celsius
0,2020-08-01,82,70,76.0,0.33,27.777778,12,9.055385,21.111111
1,2020-08-02,86,66,76.0,0,30.000000,20,9.273618,18.888889
2,2020-08-03,89,67,78.0,0,31.666667,22,9.433981,19.444444
3,2020-08-04,84,70,77.0,0,28.888889,14,9.165151,21.111111
4,2020-08-05,87,67,77.0,0,30.555556,20,9.327379,19.444444

## Method 2b: `.apply` with a lambda function.

Recall that a **lambda function** is an anonymous function. Lambda functions are useful if you need only need to use a function a single time.

Generally, using `.apply` with a lambda function is even slower, so avoid it if possible.

In [13]:
weather['Low_Temp_Celsius'] = weather['Low_Temp'].apply(lambda x: (x - 32) * 5/9)

If you have a function that involves the values from two or more columns, you can use `.apply` with a lambda function in order to apply that function. In this case, you need to specify that you want to apply the function to the rows (axis = 1).

Note: this is an example where you would definitely just use vectorized operations, but for more complicated/nontrivial operations on the columns, you may need to use the `.apply` approach

In [14]:
def difference(a, b):
    return a - b

In [15]:
# Note the axis = 1 argument
weather['Temp_Range'] = weather.apply(lambda row: difference(row['High_Temp'], row['Low_Temp']), axis = 1)

In [16]:
weather.head()

,Date,High_Temp,Low_Temp,Avg_Temp,Precipitation,High_Temp_Celsius,Temp_Range,Sqrt_Temp,Low_Temp_Celsius
0,2020-08-01,82,70,76.0,0.33,27.777778,12,9.055385,21.111111
1,2020-08-02,86,66,76.0,0,30.000000,20,9.273618,18.888889
2,2020-08-03,89,67,78.0,0,31.666667,22,9.433981,19.444444
3,2020-08-04,84,70,77.0,0,28.888889,14,9.165151,21.111111
4,2020-08-05,87,67,77.0,0,30.555556,20,9.327379,19.444444

# Method 3: Iteration

Two ways to iterate through a dataframe are the `iterrows` and the `itertuples` methods.

The first method, `iterrows` returns a tuple containing the index value of each row and the content of that row, as a `pandas` Series.

In [17]:
for idx, row in weather.iterrows():
    print(idx)
    print(row)
    print('-----------')

0
Date                 2020-08-01
High_Temp                    82
Low_Temp                     70
Avg_Temp                     76
Precipitation              0.33
High_Temp_Celsius       27.7778
Temp_Range                   12
Sqrt_Temp               9.05539
Low_Temp_Celsius        21.1111
Name: 0, dtype: object
-----------
1
Date                 2020-08-02
High_Temp                    86
Low_Temp                     66
Avg_Temp                     76
Precipitation                 0
High_Temp_Celsius            30
Temp_Range                   20
Sqrt_Temp               9.27362
Low_Temp_Celsius        18.8889
Name: 1, dtype: object
-----------
2
Date                 2020-08-03
High_Temp                    89
Low_Temp                     67
Avg_Temp                     78
Precipitation                 0
High_Temp_Celsius       31.6667
Temp_Range                   22
Sqrt_Temp               9.43398
Low_Temp_Celsius        19.4444
Name: 2, dtype: object
-----------
3
Date                 2020-08-04
High_Temp                    84
Low_Temp                     70
Avg_Temp                     77
Precipitation                 0
High_Temp_Celsius       28.8889
Temp_Range                   14
Sqrt_Temp               9.16515
Low_Temp_Celsius        21.1111
Name: 3, dtype: object
-----------
4
Date                 2020-08-05
High_Temp                    87
Low_Temp                     67
Avg_Temp                     77
Precipitation                 0
High_Temp_Celsius       30.5556
Temp_Range                   20
Sqrt_Temp               9.32738
Low_Temp_Celsius        19.4444
Name: 4, dtype: object
-----------
5
Date                 2020-08-06
High_Temp                    89
Low_Temp                     68
Avg_Temp                   78.5
Precipitation                 0
High_Temp_Celsius       31.6667
Temp_Range                   21
Sqrt_Temp               9.43398
Low_Temp_Celsius             20
Name: 5, dtype: object
-----------
6
Date                 2020-08-07
High_Temp                    90
Low_Temp                     68
Avg_Temp                     79
Precipitation                 0
High_Temp_Celsius       32.2222
Temp_Range                   22
Sqrt_Temp               9.48683
Low_Temp_Celsius             20
Name: 6, dtype: object
-----------
7
Date                 2020-08-08
High_Temp                    94
Low_Temp                     67
Avg_Temp                   80.5
Precipitation                 0
High_Temp_Celsius       34.4444
Temp_Range                   27
Sqrt_Temp               9.69536
Low_Temp_Celsius        19.4444
Name: 7, dtype: object
-----------
8
Date                 2020-08-09
High_Temp                    95
Low_Temp                     71
Avg_Temp                     83
Precipitation              0.04
High_Temp_Celsius            35
Temp_Range                   24
Sqrt_Temp               9.74679
Low_Temp_Celsius        21.6667
Name: 8, dtype: object
-----------
9
Date                 2020-08-10
High_Temp                    97
Low_Temp                     74
Avg_Temp                   85.5
Precipitation                 0
High_Temp_Celsius       36.1111
Temp_Range                   23
Sqrt_Temp               9.84886
Low_Temp_Celsius        23.3333
Name: 9, dtype: object
-----------
10
Date                 2020-08-11
High_Temp                    92
Low_Temp                     72
Avg_Temp                     82
Precipitation                 0
High_Temp_Celsius       33.3333
Temp_Range                   20
Sqrt_Temp               9.59166
Low_Temp_Celsius        22.2222
Name: 10, dtype: object
-----------
11
Date                 2020-08-12
High_Temp                    90
Low_Temp                     75
Avg_Temp                   82.5
Precipitation              0.09
High_Temp_Celsius       32.2222
Temp_Range                   15
Sqrt_Temp               9.48683
Low_Temp_Celsius        23.8889
Name: 11, dtype: object
-----------
12
Date                 2020-08-13
High_Temp                    94
Low_Temp                     72
Avg_Temp                     83
Precipitation              0.51
High_Temp_Celsius       34.4444
Temp_Range                   22
Sqrt_Temp               9.69536
Low_Temp_Celsius        22.2222
Name: 12, dtype: object
-----------
13
Date                 2020-08-14
High_Temp                    88
Low_Temp                     74
Avg_Temp                     81
Precipitation              0.03
High_Temp_Celsius       31.1111
Temp_Range                   14
Sqrt_Temp               9.38083
Low_Temp_Celsius        23.3333
Name: 13, dtype: object
-----------
14
Date                 2020-08-15
High_Temp                    90
Low_Temp                     72
Avg_Temp                     81
Precipitation                 0
High_Temp_Celsius       32.2222
Temp_Range                   18
Sqrt_Temp               9.48683
Low_Temp_Celsius        22.2222
Name: 14, dtype: object
-----------
15
Date                 2020-08-16
High_Temp                    91
Low_Temp                     70
Avg_Temp                   80.5
Precipitation                 T
High_Temp_Celsius       32.7778
Temp_Range                   21
Sqrt_Temp               9.53939
Low_Temp_Celsius        21.1111
Name: 15, dtype: object
-----------
16
Date                 2020-08-17
High_Temp                    91
Low_Temp                     66
Avg_Temp                   78.5
Precipitation                 0
High_Temp_Celsius       32.7778
Temp_Range                   25
Sqrt_Temp               9.53939
Low_Temp_Celsius        18.8889
Name: 16, dtype: object
-----------
17
Date                 2020-08-18
High_Temp                    91
Low_Temp                     68
Avg_Temp                   79.5
Precipitation                 0
High_Temp_Celsius       32.7778
Temp_Range                   23
Sqrt_Temp               9.53939
Low_Temp_Celsius             20
Name: 17, dtype: object
-----------
18
Date                 2020-08-19
High_Temp                    85
Low_Temp                     68
Avg_Temp                   76.5
Precipitation                 0
High_Temp_Celsius       29.4444
Temp_Range                   17
Sqrt_Temp               9.21954
Low_Temp_Celsius             20
Name: 18, dtype: object
-----------
19
Date                 2020-08-20
High_Temp                    89
Low_Temp                     68
Avg_Temp                   78.5
Precipitation                 0
High_Temp_Celsius       31.6667
Temp_Range                   21
Sqrt_Temp               9.43398
Low_Temp_Celsius             20
Name: 19, dtype: object
-----------
20
Date                 2020-08-21
High_Temp                    79
Low_Temp                     68
Avg_Temp                   73.5
Precipitation              1.54
High_Temp_Celsius       26.1111
Temp_Range                   11
Sqrt_Temp               8.88819
Low_Temp_Celsius             20
Name: 20, dtype: object
-----------
21
Date                 2020-08-22
High_Temp                    85
Low_Temp                     69
Avg_Temp                     77
Precipitation              0.25
High_Temp_Celsius       29.4444
Temp_Range                   16
Sqrt_Temp               9.21954
Low_Temp_Celsius        20.5556
Name: 21, dtype: object
-----------
22
Date                 2020-08-23
High_Temp                    88
Low_Temp                     67
Avg_Temp                   77.5
Precipitation              0.03
High_Temp_Celsius       31.1111
Temp_Range                   21
Sqrt_Temp               9.38083
Low_Temp_Celsius        19.4444
Name: 22, dtype: object
-----------
23
Date                 2020-08-24
High_Temp                    92
Low_Temp                     69
Avg_Temp                   80.5
Precipitation              0.41
High_Temp_Celsius       33.3333
Temp_Range                   23
Sqrt_Temp               9.59166
Low_Temp_Celsius        20.5556
Name: 23, dtype: object
-----------
24
Date                 2020-08-25
High_Temp                    93
Low_Temp                     73
Avg_Temp                     83
Precipitation                 0
High_Temp_Celsius       33.8889
Temp_Range                   20
Sqrt_Temp               9.64365
Low_Temp_Celsius        22.7778
Name: 24, dtype: object
-----------
25
Date                 2020-08-26
High_Temp                    89
Low_Temp                     73
Avg_Temp                     81
Precipitation                 0
High_Temp_Celsius       31.6667
Temp_Range                   16
Sqrt_Temp               9.43398
Low_Temp_Celsius        22.7778
Name: 25, dtype: object
-----------
26
Date                 2020-08-27
High_Temp                    90
Low_Temp                     73
Avg_Temp                   81.5
Precipitation              0.65
High_Temp_Celsius       32.2222
Temp_Range                   17
Sqrt_Temp               9.48683
Low_Temp_Celsius        22.7778
Name: 26, dtype: object
-----------
27
Date                 2020-08-28
High_Temp                    84
Low_Temp                     73
Avg_Temp                   78.5
Precipitation              0.71
High_Temp_Celsius       28.8889
Temp_Range                   11
Sqrt_Temp               9.16515
Low_Temp_Celsius        22.7778
Name: 27, dtype: object
-----------
28
Date                 2020-08-29
High_Temp                    92
Low_Temp                     74
Avg_Temp                     83
Precipitation              0.01
High_Temp_Celsius       33.3333
Temp_Range                   18
Sqrt_Temp               9.59166
Low_Temp_Celsius        23.3333
Name: 28, dtype: object
-----------
29
Date                 2020-08-30
High_Temp                    88
Low_Temp                     73
Avg_Temp                   80.5
Precipitation              0.86
High_Temp_Celsius       31.1111
Temp_Range                   15
Sqrt_Temp               9.38083
Low_Temp_Celsius        22.7778
Name: 29, dtype: object
-----------
30
Date                 2020-08-31
High_Temp                    86
Low_Temp                     72
Avg_Temp                     79
Precipitation              0.41
High_Temp_Celsius            30
Temp_Range                   14
Sqrt_Temp               9.27362
Low_Temp_Celsius        22.2222
Name: 30, dtype: object
-----------

Since the second component of this tuple is a Series, you can access its elements by slicing.

In [18]:
for idx, row in weather.iterrows():
    print('Date: {}'.format(row['Date']))
    print('High Temperature: {}'.format(row['High_Temp']))
    print('----------')

Date: 2020-08-01
High Temperature: 82
----------
Date: 2020-08-02
High Temperature: 86
----------
Date: 2020-08-03
High Temperature: 89
----------
Date: 2020-08-04
High Temperature: 84
----------
Date: 2020-08-05
High Temperature: 87
----------
Date: 2020-08-06
High Temperature: 89
----------
Date: 2020-08-07
High Temperature: 90
----------
Date: 2020-08-08
High Temperature: 94
----------
Date: 2020-08-09
High Temperature: 95
----------
Date: 2020-08-10
High Temperature: 97
----------
Date: 2020-08-11
High Temperature: 92
----------
Date: 2020-08-12
High Temperature: 90
----------
Date: 2020-08-13
High Temperature: 94
----------
Date: 2020-08-14
High Temperature: 88
----------
Date: 2020-08-15
High Temperature: 90
----------
Date: 2020-08-16
High Temperature: 91
----------
Date: 2020-08-17
High Temperature: 91
----------
Date: 2020-08-18
High Temperature: 91
----------
Date: 2020-08-19
High Temperature: 85
----------
Date: 2020-08-20
High Temperature: 89
----------
Date: 2020-08-21
High Temperature: 79
----------
Date: 2020-08-22
High Temperature: 85
----------
Date: 2020-08-23
High Temperature: 88
----------
Date: 2020-08-24
High Temperature: 92
----------
Date: 2020-08-25
High Temperature: 93
----------
Date: 2020-08-26
High Temperature: 89
----------
Date: 2020-08-27
High Temperature: 90
----------
Date: 2020-08-28
High Temperature: 84
----------
Date: 2020-08-29
High Temperature: 92
----------
Date: 2020-08-30
High Temperature: 88
----------
Date: 2020-08-31
High Temperature: 86
----------

The `itertuples` method is similar, but it instead returns a `namedtuple`. This makes it faster than `iterrows` in general.

In [19]:
for item in weather.itertuples():
    print(item)
    print('------')

Pandas(Index=0, Date='2020-08-01', High_Temp=82, Low_Temp=70, Avg_Temp=76.0, Precipitation='0.33', High_Temp_Celsius=27.777777777777779, Temp_Range=12, Sqrt_Temp=9.0553851381374173, Low_Temp_Celsius=21.111111111111111)
------
Pandas(Index=1, Date='2020-08-02', High_Temp=86, Low_Temp=66, Avg_Temp=76.0, Precipitation='0', High_Temp_Celsius=30.0, Temp_Range=20, Sqrt_Temp=9.2736184954957039, Low_Temp_Celsius=18.888888888888889)
------
Pandas(Index=2, Date='2020-08-03', High_Temp=89, Low_Temp=67, Avg_Temp=78.0, Precipitation='0', High_Temp_Celsius=31.666666666666668, Temp_Range=22, Sqrt_Temp=9.4339811320566032, Low_Temp_Celsius=19.444444444444443)
------
Pandas(Index=3, Date='2020-08-04', High_Temp=84, Low_Temp=70, Avg_Temp=77.0, Precipitation='0', High_Temp_Celsius=28.888888888888889, Temp_Range=14, Sqrt_Temp=9.1651513899116797, Low_Temp_Celsius=21.111111111111111)
------
Pandas(Index=4, Date='2020-08-05', High_Temp=87, Low_Temp=67, Avg_Temp=77.0, Precipitation='0', High_Temp_Celsius=30.555555555555557, Temp_Range=20, Sqrt_Temp=9.3273790530888157, Low_Temp_Celsius=19.444444444444443)
------
Pandas(Index=5, Date='2020-08-06', High_Temp=89, Low_Temp=68, Avg_Temp=78.5, Precipitation='0', High_Temp_Celsius=31.666666666666668, Temp_Range=21, Sqrt_Temp=9.4339811320566032, Low_Temp_Celsius=20.0)
------
Pandas(Index=6, Date='2020-08-07', High_Temp=90, Low_Temp=68, Avg_Temp=79.0, Precipitation='0', High_Temp_Celsius=32.222222222222221, Temp_Range=22, Sqrt_Temp=9.4868329805051381, Low_Temp_Celsius=20.0)
------
Pandas(Index=7, Date='2020-08-08', High_Temp=94, Low_Temp=67, Avg_Temp=80.5, Precipitation='0', High_Temp_Celsius=34.444444444444443, Temp_Range=27, Sqrt_Temp=9.6953597148326587, Low_Temp_Celsius=19.444444444444443)
------
Pandas(Index=8, Date='2020-08-09', High_Temp=95, Low_Temp=71, Avg_Temp=83.0, Precipitation='0.04', High_Temp_Celsius=35.0, Temp_Range=24, Sqrt_Temp=9.7467943448089631, Low_Temp_Celsius=21.666666666666668)
------
Pandas(Index=9, Date='2020-08-10', High_Temp=97, Low_Temp=74, Avg_Temp=85.5, Precipitation='0', High_Temp_Celsius=36.111111111111114, Temp_Range=23, Sqrt_Temp=9.8488578017961039, Low_Temp_Celsius=23.333333333333332)
------
Pandas(Index=10, Date='2020-08-11', High_Temp=92, Low_Temp=72, Avg_Temp=82.0, Precipitation='0', High_Temp_Celsius=33.333333333333336, Temp_Range=20, Sqrt_Temp=9.5916630466254382, Low_Temp_Celsius=22.222222222222221)
------
Pandas(Index=11, Date='2020-08-12', High_Temp=90, Low_Temp=75, Avg_Temp=82.5, Precipitation='0.09', High_Temp_Celsius=32.222222222222221, Temp_Range=15, Sqrt_Temp=9.4868329805051381, Low_Temp_Celsius=23.888888888888889)
------
Pandas(Index=12, Date='2020-08-13', High_Temp=94, Low_Temp=72, Avg_Temp=83.0, Precipitation='0.51', High_Temp_Celsius=34.444444444444443, Temp_Range=22, Sqrt_Temp=9.6953597148326587, Low_Temp_Celsius=22.222222222222221)
------
Pandas(Index=13, Date='2020-08-14', High_Temp=88, Low_Temp=74, Avg_Temp=81.0, Precipitation='0.03', High_Temp_Celsius=31.111111111111111, Temp_Range=14, Sqrt_Temp=9.3808315196468595, Low_Temp_Celsius=23.333333333333332)
------
Pandas(Index=14, Date='2020-08-15', High_Temp=90, Low_Temp=72, Avg_Temp=81.0, Precipitation='0', High_Temp_Celsius=32.222222222222221, Temp_Range=18, Sqrt_Temp=9.4868329805051381, Low_Temp_Celsius=22.222222222222221)
------
Pandas(Index=15, Date='2020-08-16', High_Temp=91, Low_Temp=70, Avg_Temp=80.5, Precipitation='T', High_Temp_Celsius=32.777777777777779, Temp_Range=21, Sqrt_Temp=9.5393920141694561, Low_Temp_Celsius=21.111111111111111)
------
Pandas(Index=16, Date='2020-08-17', High_Temp=91, Low_Temp=66, Avg_Temp=78.5, Precipitation='0', High_Temp_Celsius=32.777777777777779, Temp_Range=25, Sqrt_Temp=9.5393920141694561, Low_Temp_Celsius=18.888888888888889)
------
Pandas(Index=17, Date='2020-08-18', High_Temp=91, Low_Temp=68, Avg_Temp=79.5, Precipitation='0', High_Temp_Celsius=32.777777777777779, Temp_Range=23, Sqrt_Temp=9.5393920141694561, Low_Temp_Celsius=20.0)
------
Pandas(Index=18, Date='2020-08-19', High_Temp=85, Low_Temp=68, Avg_Temp=76.5, Precipitation='0', High_Temp_Celsius=29.444444444444443, Temp_Range=17, Sqrt_Temp=9.2195444572928871, Low_Temp_Celsius=20.0)
------
Pandas(Index=19, Date='2020-08-20', High_Temp=89, Low_Temp=68, Avg_Temp=78.5, Precipitation='0', High_Temp_Celsius=31.666666666666668, Temp_Range=21, Sqrt_Temp=9.4339811320566032, Low_Temp_Celsius=20.0)
------
Pandas(Index=20, Date='2020-08-21', High_Temp=79, Low_Temp=68, Avg_Temp=73.5, Precipitation='1.54', High_Temp_Celsius=26.111111111111111, Temp_Range=11, Sqrt_Temp=8.8881944173155887, Low_Temp_Celsius=20.0)
------
Pandas(Index=21, Date='2020-08-22', High_Temp=85, Low_Temp=69, Avg_Temp=77.0, Precipitation='0.25', High_Temp_Celsius=29.444444444444443, Temp_Range=16, Sqrt_Temp=9.2195444572928871, Low_Temp_Celsius=20.555555555555557)
------
Pandas(Index=22, Date='2020-08-23', High_Temp=88, Low_Temp=67, Avg_Temp=77.5, Precipitation='0.03', High_Temp_Celsius=31.111111111111111, Temp_Range=21, Sqrt_Temp=9.3808315196468595, Low_Temp_Celsius=19.444444444444443)
------
Pandas(Index=23, Date='2020-08-24', High_Temp=92, Low_Temp=69, Avg_Temp=80.5, Precipitation='0.41', High_Temp_Celsius=33.333333333333336, Temp_Range=23, Sqrt_Temp=9.5916630466254382, Low_Temp_Celsius=20.555555555555557)
------
Pandas(Index=24, Date='2020-08-25', High_Temp=93, Low_Temp=73, Avg_Temp=83.0, Precipitation='0', High_Temp_Celsius=33.888888888888886, Temp_Range=20, Sqrt_Temp=9.6436507609929549, Low_Temp_Celsius=22.777777777777779)
------
Pandas(Index=25, Date='2020-08-26', High_Temp=89, Low_Temp=73, Avg_Temp=81.0, Precipitation='0', High_Temp_Celsius=31.666666666666668, Temp_Range=16, Sqrt_Temp=9.4339811320566032, Low_Temp_Celsius=22.777777777777779)
------
Pandas(Index=26, Date='2020-08-27', High_Temp=90, Low_Temp=73, Avg_Temp=81.5, Precipitation='0.65', High_Temp_Celsius=32.222222222222221, Temp_Range=17, Sqrt_Temp=9.4868329805051381, Low_Temp_Celsius=22.777777777777779)
------
Pandas(Index=27, Date='2020-08-28', High_Temp=84, Low_Temp=73, Avg_Temp=78.5, Precipitation='0.71', High_Temp_Celsius=28.888888888888889, Temp_Range=11, Sqrt_Temp=9.1651513899116797, Low_Temp_Celsius=22.777777777777779)
------
Pandas(Index=28, Date='2020-08-29', High_Temp=92, Low_Temp=74, Avg_Temp=83.0, Precipitation='0.01', High_Temp_Celsius=33.333333333333336, Temp_Range=18, Sqrt_Temp=9.5916630466254382, Low_Temp_Celsius=23.333333333333332)
------
Pandas(Index=29, Date='2020-08-30', High_Temp=88, Low_Temp=73, Avg_Temp=80.5, Precipitation='0.86', High_Temp_Celsius=31.111111111111111, Temp_Range=15, Sqrt_Temp=9.3808315196468595, Low_Temp_Celsius=22.777777777777779)
------
Pandas(Index=30, Date='2020-08-31', High_Temp=86, Low_Temp=72, Avg_Temp=79.0, Precipitation='0.41', High_Temp_Celsius=30.0, Temp_Range=14, Sqrt_Temp=9.2736184954957039, Low_Temp_Celsius=22.222222222222221)
------

Using either of this iteration methods, you can create a new calculated column. However, you should only use this as a last resort or if you are doing some operation for which vectorized operations or `.apply` will not work.

Note that to access an element of a namedtuple, you need to use a . followed by the element.

In [20]:
temp_range = []
for row in weather.itertuples():
    weather.loc[row.Index, "Avg_Temp_Celsius"] = (row.Avg_Temp - 32) * 5/9

In [21]:
weather.head()

,Date,High_Temp,Low_Temp,Avg_Temp,Precipitation,High_Temp_Celsius,Temp_Range,Sqrt_Temp,Low_Temp_Celsius,Avg_Temp_Celsius
0,2020-08-01,82,70,76.0,0.33,27.777778,12,9.055385,21.111111,24.444444
1,2020-08-02,86,66,76.0,0,30.000000,20,9.273618,18.888889,24.444444
2,2020-08-03,89,67,78.0,0,31.666667,22,9.433981,19.444444,25.555556
3,2020-08-04,84,70,77.0,0,28.888889,14,9.165151,21.111111,25.000000
4,2020-08-05,87,67,77.0,0,30.555556,20,9.327379,19.444444,25.000000